body {
text-align: center;
background-color: #285430;
}

h1 {
    font-size: 5rem;
    color: white;
    font-family: sans-serif;
    text-shadow: 3px 0 black;
}

.cow{
    background-image: url("images/cow-pic.jpg");
}
.donkey{
    background-image: url("images/donkey-pic.jpg");
}
.horse{
    background-image: url("images/horse-pic.jpg");
}
.goat{
    background-image: url("images/goat-pic.jpg");
}
.sheep{
    background-image: url("images/sheep-pic.jpg");
}
.chicken{
    background-image: url("images/chicken-pic.jpg");
}
.duck{
    background-image: url("images/duck-pic.jpg");
}

.animal {
   outline: none;
   font-family: sans-serif;
   font-size: 2rem;
   line-height: 2  ;
   font-weight: 900;
   color: #fff;
   text-shadow: 3px 0 black;
   border-radius: 15px;
   display: inline-block;
   width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  